:root{
  --textPaddingGap: 4px;
  --xSmallGap: 8px;
  --smallGap: 16px;
  --mediumGap: 32px;
  --xxSmallIcon: 24px;
  --xSmallIcon: 32px;
  --smallIcon: 48px;
  --mediumIcon: 72px;
  --largeIcon: 96px;
  --xLargeIcon: 176px;
}

.websiteContainer{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--smallGap);
  background-color: blue;
}

.settingsContainer{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 0px var(--xSmallGap);
}

.settingsContainerRight{
  display: flex;
  gap: var(--smallGap);
  align-items: center;
}

.loginButton, .expandButton, .settingsButton{
  height: var(--smallIcon);
  width: var(--smallIcon);
  background-color: orange;
}

.timeContainer{
  background-color: orange;
  padding: 0 var(--smallGap);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  row-gap: var(--xSmallGap);
  column-gap: var(--xSmallGap);
  grid-template-areas: 
    "timer streak"
    "date date";
}

.timeObject{
  grid-area: timer;
  height: var(--mediumIcon);
  width: 100%;
  background-color: green;
}

.streakObject{
  grid-area: streak;
  align-self: center;
  justify-self: end;
  height: var(--mediumIcon);
  width: 100%;
  background-color: maroon;
}

.dateObject{
  grid-area: date;
  height: var(--smallIcon);
  width: 100%;
  background-color: purple;
}

.toDoListContainer{
  background-color: pink;
  display:flex;
  max-height: 30vh;
  flex-direction: column;
  gap: var(--xSmallGap);
  padding: var(--smallGap);
  overflow-y: scroll;
}

.timerContainer{
  padding: 0px var(--xSmallGap);
  background-color: cyan;
  /* potentially may need more to go in the container  */
}

.timerObject{
  background-color: lightblue;
  height: var(--xLargeIcon);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.sidebarContainer, .recordPlayerExtend{
  background-color: purple;
  display: none;
}


.scheduleContainer{
  background-color: lightgreen;
  height: 60vh;
  padding: 0px var(--xSmallGap)
}

