:root{
  --smallTextSize: 0.9rem;
  --regularTextSize: 1rem;
  --subHeadingTextSize: 1.2rem;
  --headingTextSize: 1.5rem;

  --smallBorderSize: 1px;
  --mediumBorderSize: 2px;

  --regularRoundedCornerSize: 8px;

  --smallTextPaddingGap: 2px;
  --textPaddingGap: 4px;

  --xxSmallGap: 4px;
  --xSmallGap: 8px;
  --smallGap: 16px;
  --mediumGap: 32px;

  --xxSmallIcon: 24px;
  --xSmallIcon: 32px;
  --smallIcon: 48px;
  --mediumIcon: 72px;
  --largeIcon: 96px;
  --xLargeIcon: 176px;
}

.websiteContainer{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--smallGap);
  background-color: blue;
}

.settingsContainer{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 0px var(--xSmallGap);
}

.settingsContainerRight{
  display: flex;
  gap: var(--smallGap);
  align-items: center;
}

.loginButton, .expandButton, .settingsButton{
  height: var(--smallIcon);
  width: var(--smallIcon);
  background-color: orange;
}

.timeContainer{
  background-color: orange;
  padding: 0 var(--smallGap);
  display: grid;
  max-width: 600px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  row-gap: var(--xSmallGap);
  column-gap: var(--xSmallGap);
  grid-template-areas: 
    "timer streak"
    "date date";
}

.timeObject{
  grid-area: timer;
  height: var(--mediumIcon);
  width: 100%;
  background-color: green;
}

.streakObject{
  grid-area: streak;
  align-self: center;
  justify-self: end;
  height: var(--mediumIcon);
  width: 100%;
  background-color: maroon;
}

.dateObject{
  grid-area: date;
  height: var(--smallIcon);
  width: 100%;
  background-color: purple;
}

.toDoListContainer{
  background-color: pink;
  display:flex;
  max-height: 30vh;
  flex-direction: column;
  gap: var(--xSmallGap);
  padding: var(--smallGap);
  overflow-y: scroll;
  scrollbar-gutter: stable;
  align-items: center;
  overflow-x: hidden;
}

.timerContainer{
  padding: 0px var(--xSmallGap);
  /* background-color: cyan; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "timer timerConfig"
}

.timerObject{
  background-color: lightblue;
  height: var(--xLargeIcon);
  aspect-ratio: 1/1;
  border-radius: 50%;
  grid-area: timer;
}

.timerConfig{
  width: 100%;
  height: 100%;
  grid-area: timerConfig;
  background-color: orange;
}

.sidebarContainer, .recordPlayerExtend{
  background-color: purple;
  display: none;
}


.scheduleContainer{
  background-color: lightgreen;
  height: 60vh;
  padding: 0px var(--xSmallGap)
}

@media (min-width: 800px){
  .websiteContainer{
    height: calc(100vh - 2* var(--xSmallGap));
    width: calc(100vw - 2 * var(--xSmallGap));
    background-color: grey;
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0.3fr 1fr;
    padding: var(--xSmallGap);
    grid-template-areas: 
    ". time time . settings"
    ". . . . timer"
    ". schedule todo todo timer";
  }

  .settingsContainer{
    background-color: transparent;
    position: static;
    grid-area: settings;
    align-items: flex-start;
    justify-content: right;
  }

  .expandButton{
    display: none;
  }

  .timeContainer{
    grid-area: time;
  }

  .streakObject, .dateObject{
    align-self: start;
  }

  .toDoListContainer{
    grid-area: todo;
    max-height: none;
    border-radius: var(--regularRoundedCornerSize)
  }

  .scheduleContainer{
    grid-area: schedule;
    height: auto;
    border-radius: var(--regularRoundedCornerSize)
  }

  .timerContainer{
    grid-area: timer;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--mediumGap);
    grid-template-rows: auto 1fr;
    grid-template-areas: "timer" "timerConfig";
  }

  .timerObject{
    justify-self: center;
  }

  .timerConfig{
    border-radius: var(--regularRoundedCornerSize)
  }
}

@media (min-width: 1024px) and (hover: hover) and (pointer: fine){
  .websiteContainer{
    background-color: grey;
  }
}

@media(min-width: 1400px){
  :root{
    --xLargeIcon: 246px;
  }
}