.toDoListItem{
  width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 4fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "check title title"
  ". tags tags";
  border: var(--mediumBorderSize) solid black;
  border-radius: 8px;
  padding: var(--smallTextPaddingGap) 0;
  /* background-color: orange; */
}

.toDoListItemCheck{
  /* background-color: #a52a2a; */
  height: var(--xSmallIcon);
  width: 100%;
  align-self: center;
  justify-content: center;
  display: grid;
  grid-area: check;
}

.toDoListItemCheckIconHitbox{
  /* background-color: darkgoldenrod; */
  height: 100%;
  width: var(--xSmallIcon);
  justify-content: center;
  display :grid;
  border-radius: 50%;
}

.toDoListItemCheckIcon{
  background-color: black;
  width: var(--xxSmallIcon);
  aspect-ratio: 1/1;
  place-self: center;
  border-radius: 50%;
}

.toDoListItemTitle{
  /* background-color: yellow; */
  padding: 0px var(--xSmallGap);
  place-self: center;
  height: 100%;
  width: calc(100% - 2 * var(--xSmallGap));
  display: grid;
  grid-area: title;
  align-content: center;
}

.toDoListItemTitleText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: var(--subHeadingTextSize);
}

.toDoListItemTagContainer{
  /* background-color: purple; */
  width: calc(100% - 2*var(--xSmallGap));
  display: flex;
  justify-content: space-between;
  grid-area: tags;
  padding: var(--xSmallGap);
}

.toDoListItemRightTagBundle{
  display: flex;
  gap: var(--xSmallGap);
}

.toDoListItemTagText{
  font-size: var(--smallTextSize);
}

.toDoListItemTag{
  background-color: orange;
  height: 100%;
  padding: var(--smallTextPaddingGap) var(--textPaddingGap);
}


.toDoListItemExpand{
  background-color: red;
  grid-area: expand;
}

.toDoListCategoryLabel{
  width: 100%;
  display: grid;
  padding: var(--xxSmallGap) 0;
  /* background-color: lavender; */
}

.toDoListCategoryLabelDivider{
  height: var(--smallBorderSize);
  border: none;
  background-color: black;
}

.toDoListCategoryLabelText{
  font-size: var(--subHeadingTextSize);
  padding: var(--textPaddingGap) 0 0 0;
}