.toDoListItem{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "check title title"
  "tags tags tags";
  background-color: orange;
}

.toDoListItemCheck{
  background-color: #a52a2a;
  height: var(--xSmallIcon);
  width: 100%;
  align-self: center;
  justify-content: center;
  display: grid;
  grid-area: check;
}

.toDoListItemCheckIconHitbox{
  background-color: darkgoldenrod;
  height: 100%;
  width: var(--xSmallIcon);
  border-radius: 50%;
  justify-content: center;
  display :grid;
}

.toDoListItemCheckIcon{
  background-color: black;
  height: 100%;
  width: var(--xxSmallIcon);
  border-radius: 50%;
  place-self: center;
}

.toDoListItemTitle{
  background-color: yellow;
  padding: 0px var(--xSmallGap);
  place-self: center;
  height: 100%;
  width: calc(100% - 2 * var(--xSmallGap));
  display: grid;
  grid-area: title;
  align-content: center;
}

.toDoListItemTitleText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.toDoListItemTagContainer{
  background-color: purple;
  width: calc(100% - 2*var(--xSmallGap));
  display: flex;
  justify-content: space-between;
  grid-area: tags;
  padding: var(--xSmallGap);
}

.rightTagBundle{
  display: flex;
  gap: var(--xSmallGap);
}
.toDoListItemTag{
  background-color: orange;
  height: 100%;
}


.toDoListItemExpand{
  background-color: red;
  grid-area: expand;
}







.toDoListCategoryBlocker{
  width: 100%;
  display: grid;
  grid-template-rows: 9fr 1fr;
  flex-shrink: 0;
  height: calc(10% - 10px);
  background-color: lavender;
}

.toDoListCategoryBlockerDivider{
  grid-row: 2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  margin: 2px;
}

.toDoListCategoryBlockerTitle{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  grid-row: 1;
  background-color: navajowhite;
  font-size: 1.2rem;
}

.toDoListCategoryBlockerDividerStyler{
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  border: none;
  background-color: red;
  border-radius: 3px;
}